[*.cs]

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:silent

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1707.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CS0169.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# CS0169: The field 'Platform_config.DataPlatformCachePath' is never used
dotnet_diagnostic.CS0169.severity = none

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CA1812: UserIntentsMap is an internal class that is apparently never instantiated. If so, remove the code from the assembly. If this class is intended to contain only static members, make it static (Shared in Visual Basic).
dotnet_diagnostic.CA1812.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
