article h1:first-child, article h2:first-child, article h3:first-child, article h4:first-child {
    margin-top: 0;
}

body {
    font-size: 14px;
}

.navbar img {
    height: 18px;
    display: inline;
    padding-right: 0.5em;
}
.navbar-toggle
{
    padding:0 0 0 0;
    margin: 0 0 0 0;
}
.navbar, .navbar-nav {
    font-family: 'Arial',sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 4px;
    min-height: 8px;
    font-size: 11px;
    text-rendering: optimizeLegibility;
}
.navbar-inverse {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: rgb(245,245,245);
    border-bottom-color: rgb(200,200,200);
    color: #333;
}
.navbar-nav li a {
    letter-spacing: 0;
    padding: 11px 15px;
    line-height: 4px;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-text
{
    color: #ff8400;
}
/*.nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
    clear: both;
}*/
.topcorner {
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-form .form-control {
    padding: 0px 12px;
}
.navbar-right
{
    margin-right:0px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #ff8400;
    font-weight:700;
}
.subnav {
    line-height: 1em;
    min-height: 2em;
    font-size: 11px;
    letter-spacing: 0.02em;
}
.footer {
    font-family: "Merriweather Sans", inherit;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 0.1em;
    list-style-position: outside;
    text-transform: uppercase;
}

.summary
{ 
    font-size: 16px;
}

.navbar-brand {
    font-size: 12px;
    padding-top: 3px;
    /*padding-right: 3em;*/
    height:26px;
}

.h1, h1 {
    font-size: 30px;
}

article h1, article h2, article h3, article h4 {
    margin-top: 25px;
    font-weight: 600;
}
.h2, h2 {
    font-size: 28px;
}
.h3, h3 {
    font-size: 22px;
}
article h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.h4, h4 {
    font-size: 14px;
}
.h5, h5 {
    font-weight: 600;
    margin-top: 15px;
}

.h6, h6 {
    font-size: 14px;
}

.implements div:before {
    content: '→';
    margin-right: 5px;
}

.nowrap {
    white-space: nowrap;
}

.sidetoc.shiftup {
    bottom: 20px;
}

div.table-responsive table.table-responsive {
}
.table-bordered {
    border-color: rgb(221,221,221);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    min-width: 11em;
    padding: 0;
    border-spacing: 0;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border-collapse: initial;
    table-layout: fixed;
}
.table-bordered thead tr th, .table-bordered tbody tr td {
    border-left-style: none;
    border-top-style: none;
}
.table-bordered tbody tr:last-child td {
    border-bottom-style: none;
}
.table-bordered thead tr th:first-child {
    width: 27em;
    border-left: 0;
    padding-left:0.6em;
}
.table-bordered thead tr th:last-child {
    border-right: 0;
    padding-right:0.6em;
}

.table-bordered tbody tr td:first-child,
.table-bordered tbody tr th:first-child {
    border-left: 0;
    padding-left:0.6em;
}

.table-bordered tbody tr td:last-child,
.table-bordered tbody tr th:last-child {
    border-right: 0;
    padding-right:0.6em;
}
